/* Flexible dates */

.flightSelectionFaresCalendar .faresCalendar td {
	font-size: 14px !important;
}

tr.inboundHead {
	line-height: 0.9;
}

.flightSelectionFaresCalendar .faresCalendarLegend .colLow, .flightSelectionCalendar .calendarLegend .colLow {
	background: #fff url(chrome-extension://__MSG_@@extension_id__/i-calendar-legend-low.png) 0 50% no-repeat !important;
}

div.date, div.colPrice a, .flightSelectionCalendar .calendarTable TD.selected TD {
	color: #002d69 !important;
}

.lowest, .lowest.promo, .lowest.selected {
	background-color: #f9d423 !important;
	background-image: none !important;
}

.promo, .selected {
	background: #fff !important;
}

.promo a, .lowest.promo a, .flightSelectionCalendar .calendarTable TD.promo.lowest TD {
	color: #002d69 !important;
}

div.searchRecapBlock, td.colPromo, td.colSel, div.pageTitleArea {
	display: none;
}

.flightSelectionFaresCalendar {
	padding-top: 6px !important;
}

/*
Fixed dates
*/

.flightSelectionByAirline .headBlock h2 {
	font-size: 15px !important;
	color: #204780 !important;
	font-weight: bold !important;
	font-family: 'museo_sans700', Tahoma, Verdana, Segoe, sans-serif !important;
}

span.routeSeparator:before {
	content: "-";
}

span.routeSeparator {
	background: none !important;
	display: inline !important;
}

.flightSelectionOWC .flightNav {
	margin-top: 8px !important;
}

/* Date picker at the top */

.calendarTabsArea .tabsTable td div div {
	padding: 11px 0 10px !important;
}

.calendarTabsArea .tabsTable td.selectedTab .date {
	font-size: 12px !important;
}

.flightSelectionOWC .flightNav .prevLink a, .flightSelectionOWC .flightNav .nextLink a {
	background-image: url(chrome-extension://__MSG_@@extension_id__/spr-prev-next-week.png) !important;
	height: 35px !important;
}

.flightSelectionOWC .flightNav .nextLink a {
	background-position: -35px -40px !important;
}

/* Smaller font for prices */

.flightSelectionByAirline .resultsArea TBODY .colCost td, .flightSelectionByAirline .resultsArea TBODY .colCost td div {
	font-size: 14px !important;
}

/* Radio button next to price */

.flightSelectionByAirline .resultsArea TBODY .colCost div td .colRadio {
	position: relative !important;
	margin-left: -29px !important;
}

.flightSelectionByAirline .resultsArea .colCost .colPrice {
	padding-top: 2px !important;
}

/* No wasted space in product headers */

.flightSelectionByAirline .resultsArea thead td.colCost_BUDGET {
	background: #fff !important;
	padding-top: 0 !important;
	border: 3px solid #ff5d3d;
}

.flightSelectionByAirline .resultsArea thead td.colCost_COMFORT {
	background: #e33416 !important;
	padding-top: 0 !important;
}

.flightSelectionByAirline .resultsArea thead td.colCost_BEST {
	background: #0f3973!important;
	padding-top: 0 !important;
}

.flightSelectionByAirline .resultsArea thead td.colCost_BUSINESS {
	background: #3f444c !important;
	padding-top: 0px !important;
}

/* Tighter rows */

.location {
	padding-bottom: 5px !important;
}

/* Max price */

td.maxPrice {
	width: 64px;
}

.flightSelectionFaresCalendar .faresCalendarLegend .colLower, .flightSelectionCalendar .calendarLegend .colLower {
	background: #fff url(chrome-extension://__MSG_@@extension_id__/i-calendar-legend-lower.png) 0 50% no-repeat;
}

.flightSelectionFaresCalendar .faresCalendarLegend .colLower, .flightSelectionCalendar .calendarLegend .colLower {
	padding: 6px 30px 5px 49px;
	font-weight: normal;
	color: #002d69;
}

.lower, .lower.promo, .lower.selected {
	background-color: #ffecaa !important;
	background-image: none !important;
}

td.maxPriceLabel {
	font-family: 'museo_sans700', Tahoma, Verdana, Segoe, sans-serif;
	font-size: 14px;
}

td.maxPriceLabel button {
	background-color: #d54229;
	color: white;
	font-family: 'museo_sans700', Tahoma, Verdana, Segoe, sans-serif;
	font-weight: 400;
	font-size: 14px;
	border: 0;
	height: 21px;
}

.colLowerHidden {
	display: none;
}