/* Flexible dates */

.flightSelectionFaresCalendar .faresCalendar td {
	font-size: 14px !important;
}

tr.inboundHead {
	line-height: 0.9;
}

.flightSelectionFaresCalendar .faresCalendarLegend .colLow, .flightSelectionCalendar .calendarLegend .colLow {
	background: #fff url(chrome-extension://__MSG_@@extension_id__/i-calendar-legend-low.png) 0 50% no-repeat !important;
}

div.colPrice a {
		color: #002d69 !important;
}

.lowest, .lowest.promo {
	background-color: #f9d423 !important;
	background-image: none !important;
}

.promo, .selected {
	background: #fff !important;
}

.promo a {
	color: #002d69 !important;
}

div.searchRecapBlock, td.colPromo, td.colSel, div.pageTitleArea {
	display: none;
}

.flightSelectionFaresCalendar {
	padding-top: 6px !important;
}

/* Fixed dates */

.flightSelectionByAirline .headBlock h2 {
	font-size: 15px !important;
	color: #204780 !important;
	font-weight: bold !important;
	font-family: 'museo_sans700', Tahoma, Verdana, Segoe, sans-serif !important;
}

span.routeSeparator:before {
	content: "-";
}

span.routeSeparator {
	background: none !important;
	display: inline !important;
}

.flightSelectionOWC .flightNav {
	margin-top: 8px !important;
}

.calendarTabsArea .tabsTable td.selectedTab .date {
	font-size: 12px !important;
}